<div class="row">
    <div class="col-xs-12">
        <form>
            <restaurant-selector selected-model="selectedRestaurant" selected-model="selectedRestaurant"></restaurant-selector>
            <div class="btn-group btn-group-lg" role="group">
                <button class="btn elem-outline btn-default btn-lg" ng-click="open(true)">+</button>
                <button class="btn elem-outline btn-default btn-lg" ng-click="open(false)" ng-if="selectedRestaurant">View/Edit</button>
            </div>
        </form>
    </div>
</div>