<div class="row">
    <div class="col-xs-12 col-centered">
        <button class="btn btn-lg btn-danger" data-toggle="collapse" data-target="#resultList" ng-click="roll()">
            <span class="fa fa-cutlery fa-5x"></span>
            <p class="text-center">It's time to eat!</p>
        </button>
    </div>
</div>
<br/>
<div class="collapse" id="resultList">
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-group">
                <li class="list-group-item"
                    ng-repeat="restaurant in restaurants"
                    ng-class="{0: 'list-group-item-success', 1: 'list-group-item-info', 2: 'list-group-item-warning', 3: 'list-group-item-danger'}[$index]">
                    {{ restaurant.name }} {{ restaurant.tags }}
                </li>
            </ul>
        </div>
    </div>
</div>