<div class="row">
    <div class="col-xs-12 col-centered">
        <button class="btn btn-lg btn-danger" data-toggle="collapse" data-target="#resultList">
            <span class="fa fa-cutlery fa-5x"></span>
            <p class="text-center">It's time to eat!</p>
        </button>
    </div>
</div>
<br/>
<div class="collapse" id="resultList">
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">
                    Arisun [korean]
                </li>
                <li class="list-group-item list-group-item-info">
                    Chur [burgers]
                </li>
                <li class="list-group-item list-group-item-warning">
                    Encasa [spanish]
                </li>
                <li class="list-group-item list-group-item-danger">
                    Pepper Lunch [japanese]
                </li>
                <li class="list-group-item">
                    Crappy Mall Thai [thai]
                </li>
            </ul>
        </div>
    </div>
</div>